pydub==0.25.1
pyee==11.1.0
Pygments==2.16.1
PyJWT==2.8.0
pylibsrtp==0.8.0
pyOpenSSL==23.3.0
pytest==7.4.3
python-dateutil==2.8.2
python-utils==3.8.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.31.0
requests==2.31.0
rich==12.6.0
rich-click==1.7.0
rpds-py==0.13.1
six==1.16.0
smmap==5.0.1
SpeechRecognition==3.10.0
stack-data==0.6.3
streamlit==1.28.2
streamlit-webrtc==0.47.1
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
traitlets==5.13.0
twilio==8.10.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.1.0
validators==0.22.0
wcwidth==0.2.12
webrtcvad==2.0.10
yarl==1.9.3
zipp==3.17.0