/* .register-container {
    margin-top: 20px;
  }
  
  .register-input {
    width: 36%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: rgb(250, 252, 251);
    margin-bottom: 10px;
  }
  
  .register-button {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgb(200, 173, 173);
    cursor: pointer;
    margin-right: 10px;
  }
  
  .already-registered-button {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgb(200, 173, 173);
    cursor: pointer;
  }
   */