body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;
  background-color: rgb(239, 234, 232);
  color: rgb(139, 0, 0);
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(239, 234, 232);
}

.title {
  color: rgb(139, 0, 0);
  font-size: 24px;
  margin-left: 10px;
}

.logo {
  width: 200;
  height: 50px;
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: rgb(200, 173, 173);
}

.welcome-page {
  height: 100vh;
  background-color: rgb(200, 173, 173);
}

.welcome-page-title {
  padding: 20px;
  color: rgb(139, 0, 0);
}

.button-group {
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-group input[type="email"],
.button-group input[type="password"] {
  width: 36%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 20px;
  background-color: rgb(250, 252, 251);
}

.button-group button {
  height: 42px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(250, 252, 251);
}

.forgot-password {
  color: rgb(139, 0, 0);
  cursor: pointer;
  font-size: 14px;
}

.login-button {
  width: 30%;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 20px;
  background-color: rgb(200, 173, 173);
  cursor: pointer;
}

.sign-up-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

.sign-up {
  color: rgb(139, 0, 0);
  text-decoration: underline;
}

.transcription-container,
.portfolio-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
}

.transcription-container {
  border-right: 2px solid rgb(139, 0, 0);
  flex: 2;
}

.transcription-container h1,
.portfolio-container h1 {
  display: none;
}

.portfolio-container {
  overflow-y: auto;
  flex: 1;
}

.company-box {
  border: 1px solid rgb(139, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(239, 234, 232);
  color: rgb(139, 0, 0);
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(239, 234, 232);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: rgb(139, 0, 0);
}

/* Add this to your stylesheet */
.transcription-box {
  margin-top: 20px;
}

.gray-box {
  background-color: #dddddd;
  padding: 10px;
  margin-top: 10px;
}
